langchain==0.3.3
# langchain-huggingface==0.1.0
langchain-google-genai==2.0.4
langchain-pinecone==0.2.0
langchain-text-splitters==0.3.0
langchain-community==0.3.2
pinecone[grpc]==5.3.1
python-dotenv==1.0.1
streamlit==1.39.0
# sentence_transformers==3.1.1
lark==1.2.2
beautifulsoup4==4.12.3